@{
    ViewData["Title"] = "Attributions";
}
</br>
<h1>@ViewData["Title"]</h1>
</br>
<p>
    <a href="https://www.freepik.com/free-vector/multiracial-people-avatars_7085153.htm#query=avatar&position=11&from_view=search&track=sph&uuid=093b3578-7d8e-45a2-8505-5081135f2ca3">
        Student images by pikisuperstar</a> on Freepik
    </br>
    <a href="https://www.flaticon.com/free-icons/universal" title="universal icons">Universal icons created by Freepik - Flaticon</a>
</p>
